<div class="">
    <div class="backlink">
        <p><a href="/#/">BACK</a></p>
    </div>
    <h2>{{details.title}}</h2>
    <div class="vid">
        <div class="video-container row" ng-model="hasVideo">
            <div ng-if="hasVideo">
                <youtube-video video-id="theBestVideo"></youtube-video>
            </div>

            <div ng-if="!hasVideo">
                <img ng-src="https://image.tmdb.org/t/p/w150/{{details.poster_path}}" height="auto" width="auto" alt="">
            </div>
            <br/>
            <div ng-show="audienceHasScore">
                <h2  fresh">{{details.title}}</h2><span>audience score {{audience_score}}</span><img ng-hide="!fresh" ng-src="/images/fresh-16.png"/><img ng-hide="fresh" ng-src="/images/splat-16.png"/>
            </div>
            <p>{{details.overview}}</p>
            <h3>Information</h3>
            <p>Rated {{rating}}</p>
            <p>In Theatres {{release_date | date:'MM/dd/yyyy'}}</p>
            <p><a data-ng-href="{{details.homepage}}" target="_blank">{{details.homepage}}</a></p>
        </div>
    </div>
</div>
