<div myslider>
    <header>SEARCH MOVIES</header>
        <div ui-view="carousel"></div>
        <form novalidate>
            Search:<br>
            <input type="text" ng-model="query"><br>
            <button ng-click='search()'>SEARCH</button>
        </form>
    </div>
</div>
<h3>Results</h3>
<div class="container cf">
    <div>
        <ul>
            <li ng-repeat="movie in movies">
                <a href="#/detail/{{movie.id}}" ui-sref="detail({ id: movie.id })">
                    <img ng-src="https://image.tmdb.org/t/p/w92/{{movie.poster_path}}" alt="">
                    {{movie.title}}{{}}
                </a>
            </li>
        </ul>
    </div>
</div>
